@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--toastify-color-success: #9323c4;
}

.button {
	@apply bg-purple text-white p-5 rounded-md text-center hover:outline-dashed transition-all duration-300;
}

.text_field {
	@apply border-2 border-purple-500 p-3 outline-none rounded-md;
}

@layer base {
	html {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-style: normal;
		overflow-x: hidden;
	}
}
